@font-face {
    font-family: LeagueSpartan;
    src: url('fonts/LeagueSpartan-Bold.otf');
}

.homeBody {
    /*background-color: #e6e6e6;*/
    background-image: url('background.jpg');
    background-repeat: no-repeat;   
    background-size: 45%;
    background-position: 0% 3%;
}

nav {
    background-color: #ffd28a;
    width: 60%;
    float: right;
    height: 100%;   
    padding: 100px 60px;    
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 20px;
}

ul li a{
    text-transform: uppercase;
    font-family: 'LeagueSpartan';
    color: #E9B870;
    font-size: 30px;
    /*text-decoration: none;*/
    letter-spacing: 10px;
}

ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.whatIsBody,
.teamBody,
.playBody,
.subscribeBody {
    background-color: #ffd28a;
    width: 100%;
}

.whatIsBody .whatIsContent,
.teamBody .teamContent,
.playBody .playContent,
.subscribeBody .subscribeContent {
    font-family: 'LeagueSpartan';
    text-transform: uppercase;  
    color: #fff;
    text-align: center; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.whatIsBody .whatIsContent h1,
.teamBody .teamContent h1,
.playBody .playContent h1 {
    letter-spacing: 10px;
}

.whatIsBody .whatIsContent p {
    letter-spacing: 7px;    
    font-size: 24px;
}

.video {
    margin-top: 30px;
}

.backLinkDiv {
    margin-top: 30px;
}

.backLinkDiv .backLink {
    color: E9B870;
    font-size: 24px;
    letter-spacing: 7px;   
    margin-top: 30px; 
}

.backLinkDiv .backLink:hover {
    color: #fff;
    text-decoration: none;  
}

@media all and (max-width: 579px) {
    iframe {
        width: 400px;
        height:270px;
    }
}

@media all and (max-width: 429px) {
    iframe {
        width: 300px;
        height:200px;
    }
}

